html{
line-height:1.15;
-webkit-text-size-adjust:100%;
-moz-text-size-adjust:100%;
text-size-adjust:100%;
}
main{
display:block;
}
h1{font-size:2em;
margin:.67em 0;
}
a{
background-color:transparent;
}
abbr[title]{
border-bottom:none;
text-decoration:underline;
-webkit-text-decoration:underline dotted;
        text-decoration:underline dotted;
}
b,strong{
font-weight:bolder;
}
code,kbd,samp{
font-family:monospace,monospace;
font-size:1em;
}
small{font-size:80%;}
img{border-style:none;}
button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0; }
button,input{overflow:visible;}
button,select{text-transform:none;}
button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button;-moz-appearance:button;appearance:button;}
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0;}
button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring {outline:1px dotted ButtonText;}
fieldset{padding:.35em .75em .625em;}
progress{vertical-align:baseline;}
textarea{overflow:auto;}
[type="checkbox"],[type="radio"]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0;}
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto;}
[type="search"]{-webkit-appearance:textfield;-moz-appearance:textfield;appearance:textfield;outline-offset:-2px;}
[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit;}
details{display:block;}
summary{display:list-item;}
template{display:none;}
[hidden]{display:none;}
p,ul,ol,dl,table,blockquote,pre,figure{padding-top:0;padding-bottom:0;margin-top:0;margin-bottom:1rem;}
h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:.5rem;}
ul ul,ul ol,ol ul,ol ol{margin-bottom:0;}
ul,ol,dd{padding-left:1.75rem;}
dd{margin-left:0;}
blockquote{border:0;padding-left:1.75rem;margin-left:0;font-style:italic;}
figure{margin-left:0;margin-right:0;} 
figure>table,figure>img,figure>picture{margin-bottom:0;}
fieldset{border:0;}
legend{padding:0 .5rem;}
/* KONEC NORMALIZACE */

@font-face{
font-display:fallback; /* vlastnost fontu, která zobrazí font se zpožděním 0.3s, kdy už by měl být načten - sníží se performace webu */
font-family:"nadpis"; /* vlastní název fontu, který se posléze bude dále používat v CSS */
src:url("../font/museo-moderno.woff2") format("woff2 supports variations"),url("../font/museo-moderno.woff2") format("woff2-variations"),url("../font/museo-moderno.woff2") format("woff2"),url("../font/museo-moderno.woff") format("woff"); /* cesta k fontu se určuje vzhledem k umístění CSS souboru */
font-weight:100 900; /* určuje rozsah šířky písma použitého v CSSku (v projektu) */
font-style:normal;
}

@font-face{
font-display:fallback; /* vlastnost fontu, která zobrazí font se zpožděním 0.3s, kdy už by měl být načten - sníží se performace webu */
font-family:"text"; /* vlastní název fontu, který se posléze bude dále používat v CSS */
src:url("../font/exo2.woff2") format("woff2 supports variations"),url("../font/exo2.woff2") format("woff2-variations"),url("../font/exo2.woff2") format("woff2"),url("../font/exo2.woff") format("woff"); /* cesta k fontu se určuje vzhledem k umístění CSS souboru */
font-weight:100 900; /* určuje rozsah šířky písma použitého v CSSku (v projektu) */
font-style:normal;
}

:root
{
--b1:rgba(45,45,18,1);
--b2:rgba(167,163,192,1);
--b3:rgba(144,140,129,1);
--b4:rgba(206,206,232,1);
--b5:rgba(84,78,57,1);
}
  
*{-webkit-box-sizing:border-box;box-sizing:border-box;}
  
body{
font-family:"text",sans-serif;
font-size:100%;
display:grid;
min-height:100vh;  /* řešeno ješte Javascriptrm visualViewport API */
width:100%;
background-color:var(--b4);
color:var(--b1);
-webkit-box-align:center;
align-items:center;
justify-items:center;
line-height:1.2;
margin:0;
}

#h-con,#u-podminky,#z_uc
{display:none;} /* z důvodů první animace Loading - bude těmto oknům přidělen disply:none , který bude následně ve Vue v "háku" mounted změněn na display:grid;block;block */



.con
{
width:100%;
/* width:320px; */
min-height:100vh; /* řešeno ješte Javascriptrm visualViewport API */
display:grid;
grid-template-rows:auto 1fr auto auto;
-webkit-box-align:center;
align-items:center;
}
  
h1,h2,h3,h4,h5
{
font-family:"nadpis",sans-serif;
}

h1
{
font-size:2rem;
}

h2
{
font-size:1.5rem;
}
  
a,a:link,a:visited,a:active
{
color:var(--b1);
text-decoration:none;
cursor:pointer;
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{
display:none; /* vypne posuvník na volbu čísloem kliknutím */
}
button,input[type=checkbox]{cursor:pointer;}

button:focus{
outline:none; /* Odstranění standardního zvýraznění focusu */
-webkit-box-shadow:0 0 5px var(--b2);
box-shadow:0 0 5px var(--b2); /* Přidání stínu pro zvýraznění focusu */
}

button:active{
background-color:var(--b4); /* Barva pozadí při kliknutí */
-webkit-box-shadow:0 1px 5px var(--b2);
box-shadow:0 1px 5px var(--b2);    /* Přidání stínu při kliknutí */
-webkit-transform:translateY(1px);
transform:translateY(1px); /* Mírný pohyb dolů při kliknutí */
}

img
{
width:100%;
height:auto;
}

.okno
{
background:rgba(255,255,255,.15);
border:1px dotted var(--b2);
width:calc(100% - (2 * 1rem));
max-width:30rem;
margin:1rem;
padding:1rem;
border-radius:16px;
}

.prehl /* okno Přehled šifrování a dešifrování */
{
display:none;
width:100vw;
width:100dvw;
min-height:100vh;
min-height:100dvh;
background-color:var(--b4);
}

.prehl-h /* hlavička okna Přehled šifrování a dešifrování */
{
display:-webkit-box;
display:flex;
gap:1rem;
-webkit-box-pack:justify;
justify-content:space-between;
position:sticky;
left:0;
top:0;
z-index:2;
width:100%;
background-color:var(--b2);
border-bottom:1px solid black;
padding:1rem;
}

.prehl-t /* tělo okna Přehled šifrování a dešifrování */
{
display:-webkit-box;
display:flex;
-webkit-box-orient:vertical;
-webkit-box-direction:normal;
flex-direction:column;
-webkit-box-align:center;
align-items:center;
gap:1rem;
width:100%;
padding:1rem;
-webkit-transition:.5s;
-o-transition:.5s;
transition:.5s;
}

.prehl-t div /* Box šifrováno/dešifrováno v těle okna Přehled šifrování a dešifrování */
{
width:100%;
max-width:40ch;
}

.prehl-t div p /* pro všechny p v Box šifrováno/dešifrováno v těle okna Přehled šifrování a dešifrování - HTML prvek se přidává JavaScriptem */
{
-webkit-hyphens:auto;
hyphens:auto;
text-align:justify;
}

.prehl-t div div /* Hlavička v Boxu šifrováno/dešifrováno v těle okna Přehled šifrování a dešifrování - HTML prvek se přidává JavaScriptem */
{
display:-webkit-box;
display:flex;
gap:.5rem;
margin-bottom:.5rem;
-webkit-box-align:center;
align-items:center;
}

.prehl-t div div p /* první p v Box šifrováno/dešifrováno v těle okna Přehled šifrování a dešifrování - HTML prvek se přidává JavaScriptem */
{
text-align:center;
font-weight:600;
margin-bottom:0;
}

.prehl-t div div p span /* span v p v Box šifrováno/dešifrováno v těle okna Přehled šifrování a dešifrování - HTML prvek se přidává JavaScriptem */
{
display:inline-block;
}


.an-l
{
-webkit-animation:loading 2s linear infinite running;
animation:loading 2s linear infinite running;
}

@-webkit-keyframes loading
{
0%{text-shadow:0px 0px 4px var(--b3);}
25%{text-shadow:5px 0px 4px var(--b3);}
50%{text-shadow:-5px 0px 4px var(--b3);}
75%{text-shadow:5px 0px 4px var(--b3);}
100%{text-shadow:0px 0px 4px var(--b3);}
}

@keyframes loading
{
0%{text-shadow:0px 0px 4px var(--b3);}
25%{text-shadow:5px 0px 4px var(--b3);}
50%{text-shadow:-5px 0px 4px var(--b3);}
75%{text-shadow:5px 0px 4px var(--b3);}
100%{text-shadow:0px 0px 4px var(--b3);}
}
  
.i-1,.i-2,.i-3,.i-4,.i-5,.i-6,.i-7,.i-8,.i-9,.i-10,.i-11,.i-12,.i-13,.i-14,.i-15,.i-16,.i-17,.i-18
{
/* ikony */
background-image:url('../svg/svg-full.svg');
background-repeat:no-repeat;
background-size:1800%; /* každá ikonka = 100% ; 18 ikonek = 1800% */
display:block;
}
.s-1
{
/* velikost 1.5 x 1.5 rem */
width:1.5rem;
height:1.5rem;
min-width:1.5rem;
min-height:1.5rem;
}
  
.s-2
{
/* velikost 2 x 2 rem */
width:2rem;
height:2rem;
min-width:2rem;
min-height:2rem;
}
  
.s-3
{
/* velikost 3 x 3 rem */
width:3rem;
height:3rem;
min-width:3rem;
min-height:3rem;
}
  
.s-logo
{
/* velikost 4rem + 1vw X 4rem + 1vw  */
width:4rem;
height:4rem;
min-width:4rem;
min-height:4rem;
width:calc(4rem + 1vw);
height:calc(4rem + 1vw);
min-width:calc(4rem + 1vw);
min-height:calc(4rem + 1vw);
}
  
.i-1
{
/* logo */
background-position:0 0;
}

.i-2
{
/* facebook */
background-position:5.882% 0;
}

.i-3
{
/* twitter */
background-position:11.765% 0;
}

.i-4
{
/* play */
background-position:17.647% 0;
}

.i-5
{
/* varování */
background-position:23.529% 0;
}
  
.i-6
{
/* vidět */
background-position:29.411% 0;
}
  
.i-7
{
/* nevidět */
background-position:35.294% 0;
}
  
.i-8
{
/* otazník */
background-position:41.176% 0;
}
  
.i-9
{
/* křížek */
background-position:47.059% 0;
}
  
.i-10
{
/* informace */
background-position:52.941% 0;
}
  
.i-11
{
/* přehodit */
background-position:58.823% 0;
}
  
.i-12
{
/* šifrovat */
background-position:64.705% 0;
}
  
.i-13
{
/* dešifrovat */
background-position:70.588% 0;
}
  
.i-14
{
/* vložit */
background-position:76.470% 0;
}
  
.i-15
{
/* delete */
background-position:82.352% 0;
}
  
.i-16
{
/* copy */
background-position:88.235% 0;
}
  
.i-17
{
/* Boar-cz logo */
background-position:94.117% 0;
}

.i-18
{
/* Reset */
background-position:100% 0;
}

.kod
{
font-size:1rem;
width:1.7rem;
height:2.25rem;
padding:.25rem;
text-align:center;
border:1px solid var(--b1);
}
  
/* mobil L a větší */
@media only screen and (min-width:23em)
{
.kod
{
font-size:1.5rem;
width:2rem;
height:3rem;
}}
  
.cod-v
{
position:absolute;
top:-4rem;
right:0;
height:3rem;
margin:1rem;
}
  
  
.obr
{
width:100%;
height:auto;}

.butt
{
font-family:"text",sans-serif;
font-size:1rem;
line-height:1.2;
font-weight:600;
display:-webkit-box;
display:flex;
gap:1rem;
-webkit-box-align:center;
align-items:center;
width:10rem;
border-radius:5px;
border:0px solid black;
padding:.5rem;
background-color:white;
color:var(--b1);
}

.buttS /* speciální class pro button Prohodit a Šifrovat */
{
font-size:1.25rem;
-webkit-box-orient:vertical;
-webkit-box-direction:normal;
flex-direction:column;
gap:.25rem;
width:100%;
min-width:8rem;
}

.buttR /* speciální úprava class .butt pro buttton Křížek-Zavřít v rohu okna */
{
width:auto;
font-size:1rem;
-webkit-box-orient:vertical;
-webkit-box-direction:normal;
flex-direction:column;
gap:.25rem;
}

.b5w
{
border-radius:50%;
background-color:white;
}
    
.g-area
{
display:grid;
grid-template-columns:1fr;
justify-items:center;
gap:2rem;
margin:1rem;
}

.area
{
width:100%;
padding:.5rem;
margin-bottom:.5rem;
font-family:"text",sans-serif;
font-size:1rem;
color:var(--b1);
background:white;
border-radius:4px;
border:1px solid var(--b2);
}
    
.g-area-stred
{
display:-webkit-box;
display:flex;
-webkit-box-pack:justify;
justify-content:space-between;
width:100%;
max-width:28rem;
gap:1rem;
}

.area:focus-visible,input[type=number]:focus-visible,input[type=password]:focus-visible{
outline:1px solid var(--b5);
}
 
.area::-moz-selection, input[type=number]::-moz-selection, input[type=password]::-moz-selection{
background-color:var(--b4);
}
   
.area::selection,input[type=number]::selection,input[type=password]::selection{
background-color:var(--b4);
}

.area:-moz-read-only {
background:rgba(255,255,255,.5);
}
    
.area:read-only {
background:rgba(255,255,255,.5);
}

.p-znak /* class k počet znaků 0/1000 */
{
position:absolute;
top:.5rem;
right:0;
font-size:.8rem;
}

.zkopi
{
position:absolute;
top:1rem;
left:2rem;
width:auto;
max-width:15rem;
text-align:center;
font-size:2rem;
background:var(--b4);
padding:.5rem;
border-radius:4px;
margin:0;
opacity:0;
-webkit-transition:opacity 250ms;
-o-transition:opacity 250ms;
transition:opacity 250ms;
z-index:-1;
cursor:default;
}

/* tablet a větší */
@media only screen and (min-width:48em)
{
.g-area
{
grid-template-columns:-webkit-max-content 1fr -webkit-max-content;
grid-template-columns:max-content 1fr max-content;
gap:1rem;
}
.area
{
width:calc(12rem + 12vw);
max-width:27rem;
margin:0;
margin-bottom:.5rem;
}
    
.g-area-stred
{
display:grid;
-webkit-box-pack:center;
justify-content:center;
justify-items:center;
align-content:center;
padding-bottom:1.75rem;
}
    
.zkopi
{
width:calc(10rem - (2 * 1rem) + 12vw); /* šířka kopíruje šířku area - 2 x 1rem margin */
}}
.pata
{
padding:1rem;
text-align:center;
}

.pata p
{
margin-bottom:0;
}

.ul-soc
{
width:100%;
height:4rem;
}

/* více jak 500px */
@media only screen and (min-width:31.25em)
{
.ul-soc
{
width:auto;
-webkit-box-flex:1;
flex:1;
}
}

address button
{
margin:.5rem;
padding:.25rem;
border:1px dotted var(--b3);
}


dialog
{
width:80%;
max-width:500px;
height:-moz-fit-content;
height:-webkit-fit-content;
height:fit-content;
max-height:80%;
border:0;
padding:0;
margin:auto;
border-radius:8px;
overflow:auto;
background-color:var(--b2);
}

dialog::-webkit-backdrop
{
background-color:rgba(0,0,0,.5);
}

dialog::backdrop
{
background-color:rgba(0,0,0,.5);
}

dialog::-webkit-scrollbar{display:none;}

.d-p,.d-h
{
position:-webkit-sticky;
position:sticky;
z-index:2;
top:0;
left:0;
background-color:var(--b2);
padding:.5rem;
border-bottom:1px solid var(--b3);
}

.d-p
{
bottom:-1px;
-webkit-box-shadow:0 -2px 10px var(--b4);
        box-shadow:0 -2px 10px var(--b4);
}

.d-s
{
padding:1rem;
padding-top:0;
overflow:auto;
background-color:white;
}

.d-s h2
{
padding-top:4rem; /* deklarace kvůli správnému scrool na objekt */
margin-top:-3rem; /* deklarace kvůli správnému scrool na objekt */
}

.d-s p
{
text-align:justify;
-webkit-hyphens:auto;
hyphens:auto;
}

.d-s p[class="fh2"]
{
text-align:left;
-webkit-hyphens:manual;
hyphens:manual;
}

.d-p
{
padding:.5rem 1rem;
border-bottom:0;
border-top:1px solid var(--b3);
}


.lh1
{
line-height:1;
}

.fp
{
font-size:2rem;
font-size:calc(2rem + 1vw);
}

.fs
{
font-size:.8rem;
}

.f125
{
font-size:1.25rem;
}

.fh2,p.fh2
{
font-family:"nadpis";
font-size:1.5rem;
font-weight:bold;
margin-bottom:.5rem;
text-align:left;
-webkit-hyphens:manual;
hyphens:manual;
}

.f6
{
font-weight:600;
}

.f8
{
font-weight:800;
}



.tar
{
text-align:right;
}

.tac
{
text-align:center;
}

.fl
{
display:-webkit-box;
display:flex;
}


.dib
{
display:inline-block;
}

.w8
{
width:8rem;
}

.wm20r
{
max-width:20rem;
}

.g05
{
gap:.5rem;
}

.g1
{
gap:1rem;
}

.g2
{
gap:2rem;
}

.f1
{
-webkit-box-flex:1;
flex:1;
}

.ac
{
-webkit-box-align:center;
align-items:center;
}

.jc
{
-webkit-box-pack:center;
justify-content:center;
}

.je
{
-webkit-box-pack:end;
justify-content:flex-end;
}

.jsb
{
-webkit-box-pack:justify;
justify-content:space-between;
}



.lstn
{
list-style-type:none;
}


.p0
{
padding:0;
}

.p1
{
padding:1rem;
}

.pt1
{
padding-top:1rem;
}

.p05
{
padding:.5rem;
}

.p025
{
padding:.25rem;
}

.m1
{
margin:1rem;
}

.ma
{
margin:auto;
}

.m0
{
margin:0;
}

.mtb4
{
margin-top:4rem;
margin-bottom:4rem;
}

.mb0
{
margin-bottom:0;
}

.mb05
{
margin-bottom:.5rem;
}

.mb1
{
margin-bottom:1rem;
}

.mb2
{
margin-bottom:2rem;
}

.pr
{
position:relative;
}

.h2r
{
height:2rem;
}

.h2-5r
{
height:2.5rem;
}

.w10r
{
width:10rem;
}

.mw8r
{
width:8rem;
gap:.25rem;
}

.mw7r
{
width:7rem;
gap:.25rem;
}

.h15r
{
height:1.5rem;
}


.wrap
{
flex-wrap:wrap;
}

.r2x2
{
width:2rem;
height:2rem;
min-width:2rem;
min-height:2rem;
}



.t-o
{
text-align:justify;
-webkit-hyphens:auto;
hyphens:auto;
}

.w100
{
width:100%;
}


.bn
{
border:none;
}

.br8
{
border-radius:8px;
}

.c1
{
color:var(--b1);
}

.bt
{
background:transparent;
}


.bd1
{
background:rgba(255,255,255,.2);
}

.bv1
{
background:var(--b4);
}
    

.spH
{
height:40px;
overflow:visible;
}

    
.ulHa li
{
-webkit-hyphens:auto;
hyphens:auto;
text-align:justify;
margin-bottom:1rem;
}

.cd
{
cursor:default;
}

.v-leave-from {
opacity:1;
}  
.v-leave-to {
opacity:0;
} 
.v-leave-active{
-webkit-transition:opacity .25s;
-o-transition:opacity .25s;
transition:opacity .25s;
}
.v-enter-from
{
opacity:0;
} 
.v-enter-to
{
opacity:1;
}  
.v-enter-active {
-webkit-transition:opacity .25s;
-o-transition:opacity .25s;
transition:opacity .25s;
} 
.fuc-enter-active{
-webkit-animation:prehoz 250ms;
animation:prehoz 250ms;
position:absolute;
}
.fuc-leave-active{
animation:prehoz 250ms reverse;
}
@-webkit-keyframes prehoz{
from{
opacity:0;
-webkit-transform:0 -100%;
transform:0 -100%;
scale:.1;
}
to{
opacity:1;
-webkit-transform:0 0;
transform:0 0;
scale:1;
}
}
  
@keyframes prehoz{
from{
opacity:0;
-webkit-transform:0 -100%;
transform:0 -100%;
scale:.1;
}
to{
opacity:1;
-webkit-transform:0 0;
transform:0 0;
scale:1;
}}  
.o-normal
{
-webkit-transform:rotate(0deg);
transform:rotate(0deg);
-webkit-transition:250ms;
-o-transition:250ms;
transition:250ms;
}
.o-jinak
{
-webkit-transform:rotate(180deg);
transform:rotate(180deg);
-webkit-transition:250ms;
-o-transition:250ms;
transition:250ms;
}  
.no-script
{
position:absolute;
top:20px;
left:0px;
width:auto;
height:auto;
background:white;
color:black;
padding:1rem;
margin:1rem;
z-index:2;
border:2px solid var(--b3);
border-radius:4px;
-webkit-box-shadow:0px 0px 50px black;
box-shadow:0px 0px 50px black;
}
  
.no-script p
{
font-size:2rem;
}