<!DOCTYPE html>
<html lang="cs" dir="ltr">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,viewport-fit=cover">
<link rel="stylesheet" href="css/css.css?v=4">
<title>Šifrovač - Šifrování textu on-line</title>
<meta name="description" content="On-line šifrování textu. Bezpečnější zasílání textových zpráv pomocí šifrování.">
<meta name="keywords" content="šifrování textu">
<meta name="author" content="Boar-cz">
<meta property="og:title" content="Šifrovač - Šifrování textu on-line">
<meta property="og:description" content="On-line šifrování textu. Bezpečnější zasílání textových zpráv pomocí šifrování.">
<meta property="og:image" content="https://www.boar-cz.info/sifrovac/nahled/sifrovac.png">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:update_time" content="2024-10-12T18:00:00+01:00">
<meta property="og:locale" content="cs_CZ">
<meta property="og:site_name" content="Šifrovač">
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.boar-cz.info/sifrovac/">
<meta name="robots" content="index,follow">
<meta property="twitter:card" content="summary_large_image">
<!-- <meta property="twitter:site" content="@"> -->
<meta property="twitter:url" content="https://www.boar-cz.info/sifrovac/">
<meta property="twitter:title" content="Šifrovač - Šifrování textu on-line">
<meta property="twitter:description" content="On-line šifrování textu. Bezpečnější zasílání textových zpráv pomocí šifrování.">
<meta property="twitter:image" content="https://www.boar-cz.info/sifrovac/nahled/sifrovac.png">

<link rel="manifest" href="favicon/site.webmanifest">
<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
<link rel="manifest" href="favicon/site.webmanifest">
<link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#0f5c73">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<script type="application/ld+json" class="schemantra">
{
"@context": "https://schema.org",
"@type": "WebApplication",
"@id": "WebApplication",
"dateCreated": "2024-05-22",
"dateModified": "2024-10-12",
"datePublished": "2024-05-22",
"version": "[1,3]",
"mainEntityOfPage": "https://www.boar-cz.info",
"description": "On-line šifrování textu. Bezpečnější zasílání textových zpráv pomocí šifrování.",
"abstract": "On-line webová aplikace, která umí šifrovat a dešifrovat text. K tomuto šifrování a dešifrování textu používá šesti místného unikátního číselného kódu.",
"name": "Šifrovač",
"operatingSystem": "Windows 7, OSX 10.6, Android 1.6",
"applicationCategory": "Safety",
"aggregateRating": {
"@type": "AggregateRating",
"ratingValue": "5.0",
"ratingCount": "9999"
},
"offers": {
"@type": "Offer",
"price": "0",
"priceCurrency": "CZK"
}}
</script>
</head>

<body>
<noscript>
<div class="no-script">
<p>Není zapnutý JavaScript!</p>
<p>Aplikace k&nbsp;fungování musí mít k&nbsp;dispozici JavaScript ve&nbsp;vašem prohlížeči.</p>
<p>Bez&nbsp;zapnutého JavaScriptu není možné aplikaci používat.</p>
</div>
</noscript>


<div id="app">

<div class="okno" v-show="loading">
<div class="fl g1 m1 mb2 ac">
<div class="i-1 s-logo"> </div>
<div>
<p class="fp f8 lh1 m0 cd">Šifrovač</p>
<p class="m0 tac cd">Šifrování textu on-line</p>
</div>
</div>
<div class="tac">
<p ref="uvod_animace" class="fp f8 an-l">Loading&#8239;…</p>
</div>
<div class="pata">
<p>&copy;&#8239;2024 Boar-cz</p>
<p class="fs">(všechna práva vyhrazena)</p>
</div>
</div>


<div id="h-con" class="con" v-show="apka">
<header>
<div class="fl wrap ac jsb">
<div class="fl g1 m1 ac">
<div class="i-1 s-logo"> </div>

<div>
<p class="fp f8 m0 cd">Šifrovač</p>
</div>
</div>

<nav class="fl je f1">
<ul class="fl g1 lstn m1 p0 jc wrap">
<li class="fl w8 bd1"><a href="#" @click="o_dia('reset','h_reset','z_reset')" class="fl ac g05 p05 w100" title="Reset aplikace"><span class="s-1 i-18"> </span>Odhlásit</a></li>
<li class="fl w8 bd1"><a href="#" @click="o_dia('napoveda','h_napoveda','z_napoveda')" class="fl ac g05 p05 w100" title="Nápověda k aplikaci"><span class="s-1 i-8"> </span>Nápověda</a></li>
<li class="fl w8 bd1"><a href="#" @click="o_dia('o_aplikaci','h_o_aplikaci','z_o_aplikaci')" class="fl ac g05 p05 w100" title="Informace o aplikaci"><span class="s-1 i-10"></span>O&nbsp;aplikaci</a></li>
</ul>
</nav>
</div>

<form class="m1 fl wrap ac jc g1 mb2" action="#" @submit.prevent>
<div class="fl g1 jc ac">
<p class="m0">ČK:</p>
<div class="fl g05">
<input :type="t_v" v-model="uk1" min="0" max="9" class="kod" title="1. číslice ČK" readonly @keypress.prevent @paste.prevent @click.prevent>
<input :type="t_v" v-model="uk2" min="0" max="9" class="kod" title="2. číslice ČK" readonly @keypress.prevent @paste.prevent @click.prevent>
<input :type="t_v" v-model="uk3" min="0" max="9" class="kod" title="3. číslice ČK" readonly @keypress.prevent @paste.prevent @click.prevent>
</div>
<div class="fl g05">
<input :type="t_v" v-model="uk4" min="0" max="9" class="kod" title="4. číslice ČK" readonly @keypress.prevent @paste.prevent @click.prevent>
<input :type="t_v" v-model="uk5" min="0" max="9" class="kod" title="5. číslice ČK" readonly @keypress.prevent @paste.prevent @click.prevent>
<input :type="t_v" v-model="uk6" min="0" max="9" class="kod" title="6. číslice ČK" readonly @keypress.prevent @paste.prevent @click.prevent>
</div>
</div>
<div class="fl ac je h2r w10r">
<Transition name="fuc" mode="out-in">
<button v-if="videt2==false" @click="zobraz2" class="butt" type="button" title="Kliknutím zobrazí zadaný ČK"><span class="s-1 i-6"> </span>Zobrazit ČK</button>
<button v-else-if="videt2==true" @click="zobraz2" class="butt" type="button" title="Kliknutím skryjete zadaný ČK"><span class="s-1 i-7"> </span>Skrýt ČK</button>
</Transition>
</div>
</form>


</header>
<main>
<section>
<h1 class="tac m1 mb2 cd">Šifrování textu <span class="dib">on-line</span></h1>
<form action="#" @submit.prevent>
<div class="g-area">

<div class="pr">
<div class="pr h15r">
<Transition name="fuc" mode="out-in">
<p v-if="otoceni==true" class="f125 f6 lh1">Šifrovaný text</p>
<p v-else-if="otoceni==false" class="f125 f6 lh1">Běžný text</p>
</Transition>
</div>

<div class="pr">
<textarea v-model="text_o1" @paste="orez_area1" ref="area_o1" class="area" cols="50" rows="10" title="Zde můžete vkládat text anebo šifrovaný text" :placeholder="placeholder_ta1" required></textarea>
<p ref="oznNeVloz" class="zkopi">Schránka je&nbsp;prázdná</p>
</div>
<p class="p-znak">znaků: {{znaku}}/{{max_znaku}}</p>


<div class="fl g1 h2-5r w100">
<div class="mw7r">
<Transition name="fuc">
<button v-show="this.text_o1" @click="smazat1" type="button" class="butt mw7r" title="Vymazat text"><span class="s-1 i-15"> </span>Smazat</button>
</Transition>
</div>
<div class="mw8r">
<Transition name="fuc">
<button @click="vlozit" type="button" class="butt mw8r"><span class="s-1 i-14" title="Vložit text"> </span>Vložit</button>
</Transition>
</div>
</div>


</div>

<div class="g-area-stred">

<div class="fl jc ac w100">
<button @click="zmena" type="button" class="butt buttS" title="Vyměnit">
<div class="s-3 i-11" :class="otocCSS"> </div>
<p class="m0">Prohodit</p>
</button>
</div>

<div class="fl jc ac tac pr w100">
<Transition name="fuc">
<button  v-if="otoceni==false" class="butt buttS" @click="akce" type="submit" title="Šifrovat text"><span class="s-3 i-12"> </span>Šifrovat</button>
<button  v-else-if="otoceni==true" class="butt buttS" @click="akce" type="submit" title="Dešifrovat text"><span class="s-3 i-13"> </span>Dešifrovat</button>
</Transition>
</div>
</div>

<div>
<div class="pr h15r">
<Transition name="fuc"  mode="out-in">
<p v-if="otoceni==false" class="f125 f6 lh1">Šifrovaný text</p>
<p v-else-if="otoceni==true" class="f125 f6 lh1">Běžný text</p>
</Transition>
</div>
<div class="pr">
<textarea v-model="text_o2" ref="area_o2" class="area" cols="50" rows="10" title="Zde se zobrazuje šifrovaný/dešifrovaný text"  :placeholder="placeholder_ta2" readonly @keypress.prevent @paste.prevent @click.prevent></textarea>
<p ref="oznCop" class="zkopi" >Zkopírováno</p>
</div>

<div class="fl g1 h2-5r w100">
<div class="mw7r">
<Transition name="fuc">
<button v-show="this.text_o2" @click="smazat2" type="button" class="butt mw7r"><span class="s-1 i-15" title="Vymazat text"> </span>Smazat</button>
</Transition>
</div>
<div class="mw8r">
<Transition name="fuc">
<button v-show="this.text_o2" @click="kopirovat" id="button_kopi" type="button" class="butt mw8r" title="Kopírovat text"><span class="s-1 i-16"> </span>Kopírovat</button>
</Transition>
</div>
</div>

</div>

</div>
</form>


</section>

<div class="m1 mtb4">
<button type="button" @click="prehled_on" class="butt g05 w100 wm20r ma" title="Zobrazit přehled šifrovat/dešifrovat"><span class="s-1 i-6"> </span>Přehled šifrování a&nbsp;dešifrování</button>
</div>

</main>

<aside class="fl jsb g2 wrap m1">
<ul class="fl ac g1 m0 wrap lstn p0">
<li class="fl bd1 ul-soc"><a id="sdil-tw" href="https://twitter.com/intent/tweet?url=https://www.boar-cz.info/sifrovac/&text=" class="fl ac tac g1 p05 w100" title="Sdílet na síti X" target="_blank" rel="nofollow"><span class="i-3 s-3"> </span>Sdílet aplikaci na&nbsp;X</a></li>
<li class="fl bd1 ul-soc"><a id="sdil-fb" href="https://www.facebook.com/sharer/sharer.php?u=https://www.boar-cz.info/sifrovac/" class="fl ac tac g1 p05 w100" title="Sdílet na Facebooku" target="_blank" rel="nofollow"><span class="i-2 s-3"></span>Sdílet aplikaci na&nbsp;FaceBooku</a></li>
<li class="fl bd1 ul-soc"><a id="href_boar" class="fl g1 ac tac p05 w100" href="https://www.boar-cz.info" title="Webové stránky výrobce" target="_blank" rel="follow"><span class="i-17 s-3"> </span>Webové stránky výrobce aplikace</a></li>
</ul>

</aside>

<footer class="pata">
<p>&copy;&#8239;2024 Boar-cz</p>
<p class="fs">(všechna práva vyhrazena)</p>
<address><p>Máte otázku k této aplikaci?</p>
<button class="bt c1" type="button" @click="o_dia('kontakt','h_kontakt','z_kontakt')" title="Kontakt na programátora">Kontaktujte&nbsp;nás</button>
</address>
</footer>

</div>




<div class="okno" id="u-podminky" v-show="podminky">

<div class="fl g1 m1 mb2 ac">
<div class="i-1 s-logo"> </div>
<div>
<p class="fp f8 lh1 m0 cd">Šifrovač</p>
<p class="m0 tac cd">Šifrování textu <span class="dib">on-line</span></p>
</div>
</div>

<div>
<p class="fh2">Vítejte v&nbsp;aplikaci</p>
<form action="#" @submit.prevent="souhlas">
<p class="t-o">Před používáním Šifrovače, se&nbsp;nejprve seznamte s&nbsp;jeho používáním a&nbsp;přečtěte&nbsp;si podmínky pro&nbsp;šifrování.</p>
<ul class="lstn">
<li class="mb1">
<button @click="o_dia('napoveda','h_napoveda','z_napoveda')" type="button" class="butt w100" title="Nápověda"><span class="i-10 s-1"> </span>Co&nbsp;je&nbsp;Šifrovač</button>
</li>
<li class="mb1">
<button @click="o_dia('o_aplikaci','h_podminky','z_o_aplikaci')" type="button" class="butt w100" title="Podmínky aplikace"><span class="i-5 s-1"> </span>Podmínky pro&nbsp;šifrování</button>
</li>
</ul>

<div class="fl g1 ac mb1">
<input class="r2x2" type="checkbox" title="Zaškrknutím dáváte souhlas" required><p class="t-o m0">Seznámil jsem&nbsp;se s&nbsp;podmínkami pro&nbsp;šifrování a&nbsp;souhlasím s&nbsp;nimi.</p>
</div>
<div class="fl jc ac mb1">
<button type="submit" class="butt" title="Další krok"><span class="s-1 i-4"> </span>Pokračovat</button>
</div>
</form>
</div>

<div class="pata">
<p>&copy;&#8239;2024 Boar-cz</p>
<p class="fs">(všechna práva vyhrazena)</p>
<address><p>Máte otázku k této aplikaci?</p>
<button class="bt c1" type="button" @click="o_dia('kontakt','h_kontakt','z_kontakt')" title="Kontakt na programátora">Kontaktujte&nbsp;nás</button>
</address>
</div>

</div>


<div class="okno" id="z_uc" v-show="spustit">

<div class="fl g1 m1 mb2 ac">
<div class="i-1 s-logo"> </div>
<div>
<p class="fp f8 m0 lh1 cd">Šifrovač</p>
<p class="m0 tac cd">Šifrování textu <span class="dib">on-line</span></p>
</div>
</div>

<div>
<p class="fh2">Zadejte číselný kód (ČK)</p>
<p class="t-o">Zadejte šestimístný číselný kód pro&nbsp;šifrování <dfn>(ve&nbsp;zkratce&nbsp;ČK)</dfn>. Pomocí tohoto číselného kódu se&nbsp;text šifruje a&nbsp;dešifruje.</p>
<p class="t-o"><strong>Nezadávejte</strong>: čísla v&nbsp;kombinaci stejná za&nbsp;sebou, čísla v&nbsp;číselné posloupnosti a&nbsp;číselné kombinace, které se&nbsp;opakují.</p>
<form action="#" @submit.prevent="start">
<div class="pr fl g2 jc mtb4">
<div class="fl g1">
<input @click="uc_z" :type="t[0]" ref="c1" v-model="uk1" size="1" min="0" max="9" class="kod" pattern="[0-9a-fA-F]{1,1}" inputmode="numeric" maxlength="1" minlength="1" title="1. číslice ČK" required>
<input @click="uc_z" :type="t[1]" ref="c2" v-model="uk2" size="1" min="0" max="9" class="kod" pattern="[0-9a-fA-F]{1,1}" inputmode="numeric" maxlength="1" minlength="1" title="2. číslice ČK" required>
<input @click="uc_z" :type="t[2]" ref="c3" v-model="uk3" size="1" min="0" max="9" class="kod"  pattern="[0-9a-fA-F]{1,1}" inputmode="numeric" maxlength="1" minlength="1" title="3. číslice ČK" required>
</div>
<div class="fl g1">
<input @click="uc_z" :type="t[3]" ref="c4" v-model="uk4" size="1" min="0" max="9" class="kod" pattern="[0-9a-fA-F]{1,1}" inputmode="numeric" maxlength="1" minlength="1" title="4. číslice ČK" required>
<input @click="uc_z" :type="t[4]" ref="c5" v-model="uk5" size="1" min="0" max="9" class="kod" pattern="[0-9a-fA-F]{1,1}" inputmode="numeric" maxlength="1" minlength="1" title="5. číslice ČK" required>
<input @click="uc_z" :type="t[5]" ref="c6" v-model="uk6" size="1" min="0" max="9" class="kod" pattern="[0-9a-fA-F]{1,1}" inputmode="numeric" maxlength="1" minlength="1" title="6. číslice ČK" required>
</div>

<div class="cod-v">
<Transition mode="out-in">
<button class="butt" v-if="videt==false" v-show="b_v_c" @click="zobraz" type="button" title="Kliknutím zobrazí zadaný ČK"><span class="i-6 s-1"> </span>Zobrazit ČK</button>
<button class="butt" v-else-if="videt==true" v-show="b_v_c" @click="zobraz" type="button" title="Kliknutím skryjete zadaný ČK"><span class="i-7 s-1"> </span>Skrýt ČK</button>
</Transition>
</div>
</div>

<div class="fl jc ac mb2">
<Transition mode="out-in">
<button v-if="nepovolen==false" class="butt" type="submit" title="Spustit Šifrovač"><span class="i-4 s-1"> </span>Spustit</button>
<div v-else-if="nepovolen==true" class="fl ac g05 spH">
<div class="i-5 s-2"> </div>
<p class="m0 tac"><strong>Zakázaná číselná kombinace</strong></p>
<button ref="butt_nepovolen" class="dib bn bt p025 c1" @click="o_dia('napoveda','n_z_uc','z_napoveda')" type="button" title="Help">
<div class="i-8 s-2 b5w"> </div>
Help
</button>
</div>
</Transition>

</div>
</form>
</div>

<div class="pata">
<p>&copy;&#8239;2024 Boar-cz</p>
<p class="fs">(všechna práva vyhrazena)</p>
<address><p>Máte otázku k&nbsp;této aplikaci?</p>
<button class="bt c1" type="button" @click="o_dia('kontakt','h_kontakt','z_kontakt')" title="Kontakt na programátora">Kontaktujte&nbsp;nás</button>
</address>
</div>
</div>


<div ref="okno_prehled" id="okno-prehled" v-show="prehled" class="prehl">
<div class="prehl-h">
<div>
<div class="fl ac g05"><div class="i-1 s-2 b5w"> </div><p class="m0 f8 cd">Šifrovač</p></div>
<p class="f6 m0 pt1">Přehled šifrování a&nbsp;dešifrování</p>
</div>
<div>
<button @click="prehled_off" class="butt buttR" type="button" title="Zavřít okno"><span class="i-9 s-1"> </span>Zavřít</button>
</div>
</div>
<div ref="telo_prehled" class="prehl-t"></div>
</div>

<dialog id="napoveda">
<div id="h_napoveda"></div>
<div class="d-h fl ac g05"><div class="i-1 s-2 b5w"> </div><p class="m0 f8 cd">Šifrovač</p></div>
<div class="d-s">
<h2>Co je Šifrovač</h2>
<p>Šifrovač je&nbsp;aplikace, díky které můžete textové zprávy předávat bezpečněji. Uživatelé si&nbsp;mohou pomocí této aplikace a&nbsp;číselného kódu&nbsp;(ČK), předávat textové zprávy v&nbsp;šifrované podobě. Šifrovaný text je&nbsp;možné posílat například emailem, messengerem nebo&nbsp;smskou.</p>
<p class="f8 mb05">Návod:</p>
<ul class="ulHa">
<li>Zvolte&nbsp;si&nbsp;šestimístný číselný kód&nbsp;(ČK).</li>
<li>Do&nbsp;pole Běžný text napište zprávu, kterou chcete zašifrovat.</li>
<li>Zmáčkněte tlačítko Šifrovat.</li>
<li>V&nbsp;druhém okénku se&nbsp;zobrazí šifrovaný text, který pošlete osobě, pro&nbsp;kterou je&nbsp;zpráva určena (například emailem).</li>
<li>Příjemce zprávy po&nbsp;zadání stejného číselného kódu zmáčkne tlačítko Přehodit, následně vloží šifrovaný text do&nbsp;pole Šifrovaný text.</li>
<li>Příjemce zprávy zmáčkne tlačítko Dešifrovat a&nbsp;zobrazí&nbsp;se dešifrovaná zpráva od&nbsp;odesílatele.</li>
</ul>

<h2 id="n_uc">Číselný kód&#8239;(ČK)</h2>
<p>Číselný kód (ve&nbsp;zkratce&#8239;ČK) je&nbsp;kombinací šesti čísel. Díky těmto číslům je&nbsp;možné textovou zprávu zašifrovat a&nbsp;pouze s&nbsp;použitím těchto šesti unikátních čísel zprávu opět rozšifrovat.</p>

<h2 id="n_z_uc">Zakázané číselné kódy</h2>
<p>Některé kombinace číselného kódu (ČK) jsou zakázané kvůli bezpečnosti šifrovaného textu. Obvykle jsou to čísla v&nbsp;kombinaci stejná za&nbsp;sebou (například: 888, 111, 000) nebo čísla, která&nbsp;jsou v&nbsp;číselné posloupnosti (například 123, 789, 210, 543). Dále číselné kombinace, které se&nbsp;opakují (například: 859 859, 763 763).</p>


<h2>Otázky a&nbsp;odpovědi</h2>
<p class="f8 mb05">Text mi nejde zašifrovat</p>
<p>Pokud nejde text zašifrovat, zpravidla se&nbsp;objeví okénko: Text nelze šifrovat. V&nbsp;tomto okénku je&nbsp;výpis nepovolených znaků, které je&nbsp;nutné odstranit. Tyto znaky z&nbsp;textu odstraňte. Po&nbsp;odstranění nepovolených znaků je&nbsp;možné text zašifrovat.</p>
<p class="f8 mb05">Šifrovaný text mi nejde rozšifrovat, proč?</p>
<ul class="ulHa">
<li>K&nbsp;rozšifrování textu používáte jiný ČK, než&nbsp;který byl použit k&nbsp;zašifrování textu.</li>
<li>Místo tlačítka Dešifrovat se&nbsp;mačká tlačítko Šifrovat, použijte tlačítko Přehodit, pro&nbsp;výměnu šifrování za&nbsp;dešifrování.</li>
<li>Do&nbsp;šifrovaného textu byl přidán znak, který tam nepatří (za&nbsp;přidaný znak, se&nbsp;považuje i&nbsp;mezera (klávesa Mezerník)) anebo zalomení řádku (pomocí klávesy Enter). Šifrovaný text začíná a&nbsp;končí znakem&nbsp;# (mřížka).</li>
<li>Ze&nbsp;šifrovaného textu byl odebrán znak. Šifrovaný text začíná a&nbsp;končí znakem&nbsp;# (mřížka). Pokud odeberete znak ze&nbsp;šifrovaného textu, šifra se&nbsp;rozbije.</li>
<li>Text byl šifrován vícenásobně a&nbsp;vícenásobné rozšifrování nebylo provedeno.</li>
</ul>
<p class="f8 mb05">Přišel mi šifrovaný text a&nbsp;nemohu ho celý označit</p>
<p>Šifrovaný text se&nbsp;nezalamuje, a&nbsp;proto může končit někde ztraceně, mimo viditelnost okna některých aplikací. Označte šifrovaný text od&nbsp;jeho začátku, až&nbsp;po&nbsp;začátek dalšího řádku pod&nbsp;šifrovaným textem. Takto označený šifrovaný text zkopírujte a&nbsp;vložte do&nbsp;Šifrovače.</p>
<p>Přidání mezery anebo zalomení, před&nbsp;začátek a&nbsp;za&nbsp;koncem šifrovaného textu, ničemu nevadí. Šifrovač, sám prázdné znaky (mezery a&nbsp;zalomení řádku), před a&nbsp;za&nbsp;šifrovaným textem, automaticky odstraní. Je&nbsp;však nutné dávat&nbsp;si pozor, aby&nbsp;nebyl zkopírován mimo šifrovaný text, i&nbsp;další text, který k&nbsp;šifrovanému textu nepatří. Pokud&nbsp;se tak stane, text, který k&nbsp;šifrovanému textu nepatří, odstraňte.</p>

<p class="f8 mb05">Jak předat příjemci ČK?</p>
<p>Ideální je, předat příjemci ČK na&nbsp;kousku papíru. Pokud je příjemce šifrované zprávy nedosažitelný, předejte ČK takto:</p>
<ul class="ulHa">
<li>Pokud budou šifrované zprávy zasílány messengerem, zašlete mu&nbsp;ČK emailem anebo smskou</li>
<li>Pokud budou šifrované zprávy zasílány emailem, zašlete mu&nbsp;ČK messengerem anebo smskou</li>
<li>Pokud budou šifrované zprávy zasílány smskou, zašlete mu&nbsp;ČK emailem anebo messengerem</li>
</ul>
<p class="f8 mb05">Je možné zašifrovaný text rozšifrovat i&nbsp;bez&nbsp;ČK?</p>
<p>Bohužel ano, toto je&nbsp;možné. Profesionální programátor s&nbsp;vynaložením velkého úsilý, by&nbsp;mohl zvládnout šifrovaný text prolomit. Více není možné sdělit, aby&nbsp;nebylo prozrazeno více než je&nbsp;nutné.</p>

<p class="f8 mb05">Je možné šifrovat bezpečněji?</p>
<p>Ano, je&nbsp;možné použít vícenásobné šifrování: dvojité, trojité&nbsp;atd.</p>
<p class="mb05">Dvojité šifrování, návod pro&nbsp;pokročilé:</p>
<ul class="ulHa">
<li>Běžný text zašifrujete poprvé.</li>
<li>Zašifrovaný text zkopírujete a&nbsp;vložíte jako Běžný text.</li>
<li>Takto vložený zašifrovaný text do&nbsp;pole Běžný text, opět zašifrujete. Tím je&nbsp;provedeno dvojité šifrování.</li>
<li>Příjemce takto zašifrované zprávy, musí vědět, že&nbsp;se&nbsp;jedná o&nbsp;dvojité šifrování a&nbsp;musí provést opačným postupem dvojité rozšifrování.</li>
</ul>


</div>
<div class="d-p fl je">
<button id="z_napoveda" @click="z_dia('napoveda');" class="butt" type="button" title="Zavřít okno"><span class="i-9 s-1"> </span>Zavřít okno</button>
</div>
</dialog>


<dialog id="o_aplikaci">
<div id="h_o_aplikaci"></div>
<div class="d-h fl ac g05"><div class="i-1 s-2 b5w"> </div><p class="m0 f8 cd">Šifrovač</p></div>
<div class="d-s">
<h2>Aplikace Šifrovač</h2>
<p>Aplikace Šifrovač je&nbsp;webovou aplikací <span class="dib">od&nbsp;Boar-cz</span>.</p>
<p>Aplikace je&nbsp;naprogramovaná jazyky: HTML&#8239;5, CSS&#8239;3, JavaScript&#8239;ES6 a&nbsp;frameworkem Vue&#8239;3. K&nbsp;vytvoření šifrování bylo použito umělé inteligence, konkrétně robota ChatGPT.</p>
<p>Aplikace je&nbsp;zdarma a&nbsp;podléhá autorským právům.</p>
<p>Verze aplikace: 1.3</p>
<p class="f8 mb05">Proč šifrovat text</p>
<p>Tak jako každý dům je možné vykrást, tak i&nbsp;každou textovou zprávu je možné zcizit. Můžeme se&nbsp;rozhodnout, jestli u&nbsp;svého domu necháme dveře otevřené do&nbsp;kořán, anebo&nbsp;si dům co&nbsp;nejvíce zabezpečíme. Čím&nbsp;více zabezpečovacích prvků, tím větší bezpečí a&nbsp;více nepříjemností pro&nbsp;lupiče. Šifrovaný text, můžeme považovat za&nbsp;další zabezpečovací prvek, další dveře, které musí lupič překonat k&nbsp;tomu, aby získal svůj lup. V&nbsp;našem případě text zprávy. Šifrování textu pomocí této aplikace zvyšuje bezpečnost zasílání textových zpráv.</p>

<h2 id="h_podminky">Podmínky pro&nbsp;šifrování</h2>
<p class="f8 mb05">Uživatel aplikace bere na&nbsp;vědomí následující skutečnosti:</p>
<ul class="ulHa">
<li>Šifrovaný text je&nbsp;možné prolomit a&nbsp;není možné šifrovaný text považovat za&nbsp;100&#8239;% bezpečný, je&nbsp;však možné šifrovaný text považovat za&nbsp;bezpečnější formu zasílání textových zpráv.</li>
<li>Boar-cz nenese zodpovědnost za&nbsp;prolomení šifrovaného textu a&nbsp;nenese žádné následky spojené s&nbsp;tímto prolomením.</li>
<li>Tato aplikace nesmí být zneužita k&nbsp;trestné činnosti anebo k&nbsp;protiprávnímu jednání.</li>
<li>Aplikace podléhá autorským právům <span class="dib">Boar-cz</span>.</li>
<li>Aplikace je&nbsp;zdarma a&nbsp;nesmí za&nbsp;její používání být&nbsp;požadován jakýkoli poplatek anebo&nbsp;služba.</li>
<li>Aplikace uloží do&nbsp;zařízení informaci, že&nbsp;byl udělen souhlas s&nbsp;těmito podmínkymi.</li>
<li>Aplikace uloží do&nbsp;zařízení data, pro&nbsp;fungování aplikace v&nbsp;režimu offline.</li>
<li>Aplikace uloží do&nbsp;zařízení anonymní statistická data, tyto data odesílá výrobci aplikace, aby&nbsp;byl informován o&nbsp;rozsahu používání aplikace.</li>
</ul>

</div>
<div class="d-p fl je">
<button id="z_o_aplikaci" @click="z_dia('o_aplikaci');" class="butt" type="button" title="Zavřít okno"><span class="i-9 s-1"> </span>Zavřít okno</button>
</div>
</dialog>


<dialog id="kontakt">
<div id="h_kontakt" class="d-h fl ac g05"><div class="i-1 s-2 b5w"> </div><p class="m0 f8 cd">Šifrovač</p></div>
<div class="d-s">
<h2>Kontakt</h2>
<p>Programátora aplikace můžete kontaktovat pomocí emailu.</p>
<p>Níže je tlačítko, kterým zobrazíte email na&nbsp;programátora.</p>
<div class="fl ac jc">
<form ref="e_form" class="fl ac jc wrap g1 bv1 p1 mb1 wm20r br8 pr" action="#" @submit.prevent>
<div class="w100 h2r">
<Transition mode="out-in">
<button v-if="!email" @click.once="mail" class="butt w100" type="button" title="Zobrazit email na programátora"><span class="i-6 s-1"> </span>Zobrazit email</button>
<button id="butt_c_mail" v-else-if="email" @click="copy_mail" class="butt w100" type="button" title="Kopírovat email do schránky"><span class="i-16 s-1"> </span>Kopírovat email</button>
</Transition>
</div>
<input ref="in_email" class="w100 p025" size="17" type="text" :value="email"  title="Email na programátora" readonly>
<p ref="emailCop" class="zkopi"><span class="tac dib w100">Zkopírováno</span></p>
</form></div>

<p>Do předmětu emailu programátorovi uveďte: Aplikace Šifrovač.</p>
</div>
<div class="d-p fl je">
<button id="z_kontakt" @click="z_dia('kontakt');" class="butt" type="button" title="Zavřít okno"><span class="i-9 s-1"> </span>Zavřít okno</button>
</div>
</dialog>


<dialog id="ne_znaky">
<div class="d-h fl ac g05"><div class="i-1 s-2 b5w"> </div><p class="m0 f8 cd">Šifrovač</p></div>
<div class="d-s">
<div v-if="nep_znaky!=''">

<p class="fh2 pt1" id="h_ne_znaky">Text nelze šifrovat</p>
<p>Text není možné šifrovat, protože obsahuje nepovolené znaky.</p>
<p>Výpis nepovolených znaků: <span class="fp f8">{{nep_znaky}}</span></p>
<p>Smažte tyto znaky, aby bylo možné text šifrovat.</p>
<div class="fl ac jc mb1 w100">
<div class="fl ac jc bv1 p1 wm20r br8 pr">
<button v-show="nep_znaky" @click="smaz_nep_znaky" class="butt w100" type="button" title="Smazat nepovolené znaky"><span class="s-1 i-15"> </span>Nahradit nepovolené znaky</button>
</div></div>
<p>Nahradit nepovolené znaky =&nbsp;odebrání všech nepovolených znaků a&nbsp;nazrazením těchto znaků znakem&nbsp;* (hvězdička).</p>
</div>

<div v-else-if="nep_znaky==''" >
<p class="f8 m1">Všechny nepovolené znaky byly nahrazeny znakem&nbsp;* (hvězdička).</p>
</div>

</div>
<div class="d-p fl je">
<button id="z_ne_znaky" @click="z_dia('ne_znaky');" class="butt" type="button" title="Zavřít okno"><span class="i-9 s-1"> </span>Zavřít okno</button>
</div>
</dialog>


<dialog id="ne_sifra">
<div class="d-h fl ac g05"><div class="i-1 s-2 b5w"> </div><p class="m0 f8 cd">Šifrovač</p></div>
<div class="d-s">


<p class="fh2 pt1" id="h_ne_sifra">Dešifrování není možné</p>

<p>Text není možné dešifrovat, šifrovaný text začíná a&nbsp;končí znakem&nbsp;# (mřížka).</p>
<p class="mb0">Pokud šifrovaný text nezačíná a&nbsp;nekončí znakem&nbsp;# (mřížka):</p>
<ul>
<li>Nejedná&nbsp;se o&nbsp;šifrovaný text.</li>
<li>Šifrovaný text byl seříznut (na&nbsp;svém začátku anebo konci).</li>
<li>Před anebo za&nbsp;šifrovaný text byl přidán znak, který k&nbsp;šífrovanému textu nepatří.</li>
</ul>
<p class="f8">Zkontrolujte, zda&nbsp;jste nechtěli text šifrovat namísto dešifrovat.</p>
</div>
<div class="d-p fl je">
<button id="z_ne_sifra" @click="z_dia('ne_sifra');" class="butt" type="button" title="Zavřít okno"><span class="i-9 s-1"> </span>Zavřít okno</button>
</div>
</dialog>

<dialog id="reset">
<div class="d-h fl ac g05"><div class="i-1 s-2 b5w"> </div><p class="m0 f8 cd">Šifrovač</p></div>
<div class="d-s">
<p class="fh2 pt1" id="h_reset">Odhlásit&nbsp;se z&nbsp;aplikace?</p>
<p class="mb0">Pokud se&nbsp;odhlásíte z&nbsp;aplikace:</p>
<ul>
<li>Bude ztracen číselný kód</li>
<li>Bude smazán obsah právě šifrované i&nbsp;dešifrované komunikace</li>
<li>Bude smazán Přehled šifrování a&nbsp;dešifrování</li>
</ul>
<div class="fl ac jc mb1 w100">
<div class="fl ac jc bv1 p1 wm20r br8 pr">
<button @click="reset();z_dia('reset');" class="butt w100 g05" type="button" title=" aplikace"><span class="s-2 i-18"> </span>Odhlásit se</button>
</div></div>
</div>
<div class="d-p fl je">
<button id="z_reset" @click="z_dia('reset');" class="butt" type="button" title="Zavřít okno"><span class="i-9 s-1"> </span>Zavřít okno</button>
</div>
</dialog>

</div> <!-- konec DIV App Vue -->
<script src="https://unpkg.com/vue@3"> /* script nenahrávat asynchronně - není potřeba - do načtení je aktivní animace Loading... - načtení scriptu async by způsobilo kolaps! */ </script>
<script src="script/kontrola-vue.js"> /* skript zkontroluje, zda byla načtena Vue knihovna z internetu, pokud nebyla, načte Vue knihovnu lokálně */ </script>
</body>
</html>